aiohttp==3.6.2
aniso8601==9.0.1
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==21.4.0
base58==1.0.3
BigchainDB==2.2.2
bigchaindb-abci==1.0.5
capturer==3.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.3
colorlog==4.1.0
cryptoconditions==0.8.0
cryptography==36.0.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
humanfriendly==10.0
hypothesis==6.39.3
idna==2.10
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
logstats==0.3.0
MarkupSafe==2.0.1
msgpack==1.0.3
multidict==4.7.6
packaging==21.3
Planetmint==0.9.0
planetmint-cryptoconditions==0.9.3
pluggy==1.0.0
protobuf==3.6.1
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pymongo==3.7.2
PyNaCl==1.1.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.0.1
python-rapidjson==0.9.1
pytz==2021.3
PyYAML==5.3.1
requests==2.23.0
setproctitle==1.1.10
six==1.16.0
sortedcontainers==2.4.0
tarantool==0.7.1
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.25.11
Werkzeug==2.0.3
yarl==1.7.2
zenroom==2.1.0.dev1647359536
zope.event==4.5.0
zope.interface==5.5.0.dev0
