aiohttp==3.7.4
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.4.0
base58==2.1.0
bigchaindb-abci==1.0.7
capturer==3.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
click==8.1.2
colorlog==5.0.1
cryptography==3.4.7
Flask==2.0.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
gevent==21.1.2
greenlet==1.1.2
gunicorn==20.1.0
humanfriendly==10.0
idna==2.10
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==3.2.0
logstats==0.3.0
MarkupSafe==2.1.1
msgpack==1.0.3
multidict==6.0.2
packaging==21.3
Planetmint==0.9.0
planetmint-cryptoconditions==0.9.4
pluggy==1.0.0
protobuf==3.17.2
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pymongo==3.11.4
PyNaCl==1.4.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytest==7.1.1
python-rapidjson==1.0
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
setproctitle==1.2.2
six==1.16.0
tarantool==0.7.1
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
yarl==1.7.2
zenroom==2.1.0.dev1649760309
zope.event==4.5.0
zope.interface==5.5.0.dev0
